@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Solid:wght@100;300;400;900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&family=Satisfy&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --bg-color: #053d1a;
    --btn-color: #f7ad19;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    left: 44%;
    font-size: 170%;
    cursor: pointer;

    h1 {
        color: white;
    }

    span {
        font-family: "Satisfy", cursive;
        color: transparent;
        /* background-image: linear-gradient(135deg, #12b886 5%, #ffd43b 95%); */
        /* background-image: linear-gradient(135deg, #be4bdb 5%, #f783ac 95%); */
        background-image: linear-gradient(135deg, #0080ff 0%, #ffff00 100%);
        background-clip: text;
    }
}

nav {
    position: relative;

    top: 1rem;
    /* z-index: 1   ; */
    display: flex;
    height: 5.5rem;
    width: 100%;
    /* border-bottom: 2px solid rgb(0, 191, 255); */
    align-items: center;
    padding: 0px 0.95rem;
    /* background-color: var(--bg-color); */





    .right-items {
        display: flex;
        position: relative;
        margin-left: auto;
        right: 2rem;
        /* gap: 1.55rem; */
        gap: 1vw;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            display: inline-block;
            position: relative;
        }

        .other {

            transition: 500ms;

            a {
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 600;
                /* color: black; */
                color: white;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background-color: var(--btn-color);
                    transition: width 0.3s ease-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }



        }

        .login-btn {
            border: none;
            height: 2.5rem;
            width: 6rem;
            background-color: initial;
            border: 2px solid #F7AD19;
            color: white;
            border-radius: 1.25rem;
            font-size: 1.25rem;
            font-weight: 600;
            transition: 500ms;
            cursor: pointer;

            /* box-shadow: 2px 1px 2px 1px #BAB68C; */
            &:hover {
                /* transform: scale(1.09); */
                background-color: #F7AD19;

                color: black;
            }
        }
    }
}

nav .left-items {
    margin-right: auto;
    position: relative;
    left: 1.4rem;
    display: flex;
    list-style: none;
    /* gap: 1.563rem; */
    gap: clamp(1rem, 2vw, 2.563rem);
    align-items: center;

    li {
        display: inline-block;
        position: relative;
        transition: 500ms;

        a {
            text-decoration: none;
            font-size: 1.3rem;
            font-weight: 600;
            color: white;

        }
    }

}

nav .left-items li ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--btn-color);
    transition: width 0.3s ease-out;
}

nav .left-items li :hover::after {
    width: 100%;
}

.sidebar {
    display: none;
    color: black;
    z-index: 1;
    height: 100vh;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 0;
    background-color: rgba(70, 70, 70, 0.449);
    /* background-color: transparent; */
    backdrop-filter: blur(50px);
    /* border: 2px solid rgb(219, 219, 219); */
    box-shadow: 2px 0 1px 0px rgb(219, 219, 219);
    animation: sideBar 0.3s ease-in forwards;

    .sidebar-header {
        display: flex;
        /* align-items: center; */
        height: 6rem;

        .center {
            h1 {
                font-size: 150%;
            }

            position: relative;
            inset: 1rem 0 0 4rem;

        }

        img {
            align-self: center;
            position: absolute;
            right: 0.34rem;
            top: 0;
            height: 5rem;
            width: 16rem;
        }

        button {
            cursor: pointer;
            position: absolute;
            border: none;
            background-color: initial;
            left: 1rem;
            top: 1.8rem;
        }
    }

    .sidebar-links {
        position: absolute;
        width: 100%;
        padding-left: 5%;

        ul li {
            display: flex;
            align-items: center;
            margin-top: 0.62rem;
            /* opacity: 0.8; */
            transition: 0.3s;
            width: 95%;
            height: 1.875rem;
            padding-left: 0.43rem;
            border-radius: 0.313rem;

            input[type='search'] {
                background-color: inherit;
                border: 1px solid white;
                border-radius: 5px;
                height: 100%;
                width: 100%;

                &:focus-visible {
                    color: black;
                    outline: none;
                    background-color: white;

                }

                &::placeholder {
                    font-weight: 400;
                    color: white;
                    font-size: 120%;
                }
            }

            svg {
                position: relative;
                color: rgb(72, 71, 71);
                right: 0.313rem;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(216, 216, 216, 0.282);
            }

            a {
                text-decoration: none;
                font-size: 120%;
                color: white;
                width: 100%;
                font-weight: 500;

                /* margin-left: 35px; */

                select {
                    background-color: inherit;
                    cursor: pointer;
                    border: none;
                    width: 100%;
                    font-size: 100%;
                    font-weight: 500;
                    height: 1.875rem;
                    color: white;

                    option {
                        background-color: #0000001d;
                        backdrop-filter: blur(20px);
                        color: black;

                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .sidebar-anchor {
        margin-top: 2rem;
        justify-content: flex-end;
        position: absolute;
        z-index: inherit;

        a {
            text-decoration: none;
            color: blue;
            margin: 0.635rem 0.313rem;
            font-size: 90%;
        }
    }
}

@keyframes sideBar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes close-sidebar {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.form-container {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0000004e;
    z-index: 1;
    position: fixed;
    backdrop-filter: blur(5px);

    .login-popup {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: fixed;
        gap: 1rem;
        padding: 3.5rem;
        z-index: 1;
        height: 80%;
        width: 40%;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 2px rgba(25, 25, 25, 0.632);
        animation: login 0.2s ease-in-out;
        overflow: hidden;


        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin-bottom: 5px;
            }
        }


        p {
            margin-top: 5px;
            display: block;
            /* a{
            margin: 0;
        } */
        }

        a {
            width: 100%;
            font-weight: 500;
            color: blue;
            cursor: pointer;
            text-align: left;

            &:hover {
                opacity: 0.7;
            }

        }

        input {
            font-size: 100%;
            font-weight: 500;
            line-height: 1.4;
            width: 100%;
            margin: 0.9rem 0;

            /* border: none; */
            &::placeholder {
                color: grey;
            }

            &:focus {
                color: black;
            }
        }

        label {
            display: flex;
            color: black;
            margin-left: 3px;
            font-weight: 500;
            font-size: 120%;
            /* text-align: start; */


        }

        form button {
            /* margin: 4px; */
            font-weight: 600;
            font-size: 120%;
            width: 60%;
            height: 35px;
            /* padding-left: 10%; */
            /* margin-left: 29%; */
            margin-top: 20px;
            margin-bottom: 10px;
            border: none;
            background-color: rgb(111, 202, 227);
            color: black;
            border-radius: 10px;
            /* opacity: 0.8; */
            cursor: pointer;

            &:hover {
                background-color: rgb(47, 188, 227);

                /* transform: scale(1.03); */
            }
        }

        button {
            width: fit-content;
            height: fit-content;
            background-color: inherit;
            border: none;
            cursor: pointer;
        }
    }
}

@keyframes login {
    0% {
        opacity: 0;
    }

    100% {
        /* transform: scale(1); */
        opacity: 1;
    }
}

.hero-section {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #053d1a;
    color: white;
    background: url(./Assets/layered-waves-haikei.png) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(100px);

    .hamburger {
        border: none;
        cursor: pointer;
        /* display: none; */
        background-color: transparent;
        position: absolute;
        left: 1rem;
        top: 1rem;

        svg {
            fill: var(--bg-color);
        }
    }

    .main {

        *:not(nav .center h1 span, .hero-content a),
        nav .right-items li a,
        .login-btn {
            color: black;
        }

        box-shadow: 0px 0px 20px 4px rgb(0, 0, 0);
        border-radius: 20px;
        position: relative;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        /* text-align: center; */
        flex-direction: column;
        row-gap: 1rem;
        width: 80%;
        height: 80%;
        /* border: 2px solid white; */
        background-color: #f2ebda;

        /* background-color: #00000020; */
        .content-papa {
            display: flex;
            /* align-items: center; */
            justify-content: center;
            gap: 5rem;

            .hero-image {
                height: 70%;
                width: 45%;

                img {
                    margin-top: 2rem;
                    height: 100%;
                    width: 95%;
                }
            }
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 43%;
            padding: 3rem 2rem 0rem 2rem;
            gap: 0.2rem;

            .hero-heading {
                width: 100%;
                line-height: 1.4;
                font-size: 265%;
                font-family: "Raleway", sans-serif;
                font-weight: 600;
            }

            .hero-para {
                margin: 1rem 0;
                font-size: 1.25rem;
            }

            a {
                text-decoration: none;
                text-align: center;
                width: fit-content;
                padding: 0.3rem 2rem;
                color: white;
                background-color: #053d1a;
                border-radius: 20px;
            }
        }
    }
}

.why-choose-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 6rem 5rem 2rem 3rem;
    padding: 6rem 5rem 2rem 3rem;

    .head-des {
        display: flex;
        justify-content: center;
        column-gap: 3%;
        width: 100%;

        .rightBox {
            width: 58%;
            height: 100%;

            h1 {
                font-size: 340%;
                margin-bottom: 10px;

                /* margin-: 10px; */
                span {
                    color: transparent;
                    background: linear-gradient(to top, red 5%, orange, rgb(255, 255, 0));
                    background-clip: text;
                    font-family: "Satisfy", cursive;

                }
            }

            p {
                width: 80%;
                line-height: 1.4;
            }
        }

        .leftBox {
            display: flex;
            justify-content: center;
            width: 76%;
            height: 100%;

            img {
                /* margin-top: 20px; */
                /* margin-left: 20px; */
                width: 32rem;
                height: 20rem;
            }
        }
    }

    .number-container {
        width: 90%;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 4%;
        margin-top: 2rem;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            padding: 10px;
            border-radius: 5px;

            h1 {
                /* padding-left: 20%; */
                font-size: 200%;
                font-weight: 600;
                text-align: center;
            }

            p {
                text-align: center;
                font-weight: 400;
                font-size: 150%;
            }
        }
    }
}

.services {
    display: flex;
    display: flex;
    min-height: 100%;
    width: 100%;
    background-color: #fbf6ea;
    justify-content: center;
    align-items: center;
    align-items: center;

    .service-container {
        width: 90%;
        height: 90%;
        height: 90%;
        display: grid;
        place-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 14rem 14rem;
        grid-template-rows: 14rem 14rem;
        grid-template-areas: 'first first second'
            'third fourth fifth';
        padding: 0rem 2rem 0rem 2rem;
        gap: 2rem;
    }

    .service-items {
        display: flex;
        align-items: start;
        /* justify-content: center; */
        flex-direction: column;
        padding: 1.5rem;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 3px rgb(234, 234, 234);

        img {
            height: 35%;
            width: 4.5rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

    }

}

.services .service-items:first-child {
    grid-area: first;
    padding: 2rem;
    background-color: #053d1a;

    h3 {
        width: 60%;
        width: 60%;
        font-size: 220%;
        line-height: 1.4;
        color: white;

        span {

            font-family: "Source Serif 4", serif;
            font-style: italic;
            font-weight: 600;

            color: var(--btn-color);
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: none;
        background-color: var(--btn-color);
        position: relative;
        top: 1rem;
        font-size: 100%;
        font-weight: 600;
        border-radius: 120px;
        padding: 0.5rem 1.8rem;

        svg {
            margin-left: 6px;
        }
    }
}

.services .service-items:nth-child(2) {
    grid-area: second;
}

.services .service-items:nth-child(3) {
    grid-area: third;
}

.services .service-items:nth-child(4) {
    grid-area: fourth;
}

.services .service-items:nth-child(5) {
    grid-area: fifth;
}

.courses-section {
    display: flex;
    display: flex;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem 1rem 2rem;
    color: #fff;
    text-align: center;
}

.section-title {
    margin-bottom: 1.5rem;
    font-size: 2.5em;
    color: #111;
    color: #111;
}

.courses-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.course-card {
    height: 90%;
    background-color: #fff;
    color: #111;
    width: 30%;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.course-image {
    height: 60%;
    width: 100%;
    border-radius: 8px;
    /* margin-bottom: 15px; */
}

.course-title {
    position: relative;
    text-align: start;
    font-size: 1.3em;
    margin: 20px 0 20px 0px;
    padding: 0rem 0rem 0rem 1rem;
}

.view-course-btn {
    color: #111;
    border: none;
    padding: 5px 20px;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 50px;
    cursor: pointer;
    background-color: #F7AD19;
    transition: background-color 0.3s ease;
}

.view-course-btn:hover {
    color: #111;
    background-color: #fff;
    border: 1px solid black;
}

.how-it-works {
    /* display: none; */
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 3rem 0rem;
    padding: 3rem 0rem;

    h1 {
        text-shadow: 2px 3px 1px var(--btn-color);
        color: var(--bg-color);
        text-align: center;
        font-size: 300%;
    }

    .container {
        height: 65%;
        height: 65%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        row-gap: 5rem;

        .item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 30%;

            img {
                height: 90%;
                width: 85%;
            }

            h3 {
                color: #053d1a;
                /* text-shadow:  -1px 1px 0 #053d1a, 1px 1px 0 #053d1a, 1px -1px 0 #053d1a, -1px -1px 0 #053d1a; */
                text-decoration: underline var(--btn-color);
                font-size: 150%;
            }
        }
    }
}

footer {
    position: relative;
    top: 13%;
    min-height: 50%;
    width: 100%;
    /* background-color: #053d1a; */
    background-image: url(./Assets/FooterWaves.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 99% ;
    background-position: bottom;

    .footer-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        * {
            color: black;
        }

        .all-socials {
            margin: 1rem 0;
            display: flex;
            gap: 1rem;

            img {
                height: 2rem;
                width: 2rem;
            }
        }

        .section:first-child {
            height: 80;
            width: 50%;
        }

        .section {
            /* border: 2px solid white; */
            min-width: auto;
            height: 100%;

            h2{
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.2;
            }

            ul {
                list-style: none;

                li a {
                    text-decoration: none;
                    font-size: 120%;
                }
            }

            .center {
                position: relative;
                inset: 0;
                width: fit-content;

                span {
                    font-family: "Satisfy", cursive;
                    color: transparent;
                    background: linear-gradient(to top left, #ffb703, #6fcae3);
                    background-clip: text;
                }

            }
        }

    }
}

@media (min-width:1024px) {
    .container .hero-section .main .search-bar {
        width: 75%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .container .hero-section .main .search-bar {
        width: 29%;
    }

    .container .hero-section .main h1 {
        width: 65%;
    }

    .why-choose-us .number-container .item {
        font-size: 120%;
    }
}

/* to remove overlapping in navbar */
@media (min-width: 769px) and (max-width:994px) {
    nav .left-items .other {
        display: none;
    }

    nav .right-items {
        right: 1rem;
    }
}

/* to remove overlapping between 768 to 425 */
@media (max-width:675px) {
    nav .left-items {
        display: none;
    }

    nav .right-items {
        display: none;
    }

    nav .center {
        left: 39%;
    }
}

@media (min-width: 425px) and (max-width:768px) {
    /* Navigation Bar */

    nav .left-items .other {
        display: none;
    }

    nav .right-items {
        right: 1rem;
    }

    nav .center {
        left: 39%;
    }

    /* Hero Section */

    .container .hero-section .main .search-bar {
        width: 40%;
    }

    .container .why-choose-us .head-des .leftBox img {
        margin-left: 0;
        width: 24rem;
        height: 17rem;
    }

    .container .why-choose-us {
        top: 12px;
    }

    .why-choose-us .head-des {
        column-gap: 5%;
    }

    .container .why-choose-us .head-des .rightBox h1 {
        font-size: 264%;
    }

    .container .why-choose-us .head-des .rightBox {
        width: 74%;
    }

    .why-choose-us .number-container .item:nth-child(2) {
        display: none;
    }

    .why-choose-us .number-container {
        width: 100%;
    }

    .container .why-choose-us .head-des .rightBox p {
        font-size: 97%;
    }
}

@media (min-width: 320px) and (max-width:425px) {
    nav .left-items {
        display: none;
    }

    nav .right-items {
        display: none;
    }

    nav .center {
        top: 0.15rem;
        left: 1.5rem;
    }

    nav .hamburger {
        left: 90%;
    }

    /* Hero Section */

    .container .hero-section .main h1 {
        font-size: 180%;
    }

    .container .hero-section .main p {
        width: 94%;
    }

    .container .hero-section .main .search-bar {
        width: 65%;
    }

    /* Why Choose Us Section */

    .container .why-choose-us {
        top: 0;
        padding: 2rem;
        row-gap: 3rem;
    }

    .why-choose-us .head-des {
        flex-direction: column-reverse;
    }

    .container .why-choose-us .head-des .leftBox img {
        display: none;
    }

    .container .why-choose-us .head-des .rightBox {
        width: 100%;
    }

    .container .why-choose-us .head-des .rightBox h1 {
        font-size: 210%;
    }

    .why-choose-us .number-container {
        flex-direction: column;
        width: 100%;
    }
}
