@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Solid:wght@100;300;400;900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --bg-color: #053d1a;
    --btn-color: #f7ad19;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%; 
    position: relative; 
}

.center {
    position: absolute;
    /* left: 44%; */
    font-size: 170%;
    cursor: pointer;

    a {
        text-decoration: none;
    }

    h1 {
        color: white;
    }

    span {
        font-family: "Satisfy", cursive;
        color: transparent;
        background-image: linear-gradient(135deg, #0080ff 0%, #ffff00 100%);

        background-clip: text;

    }

    ;
}


nav {

    position: fixed;
    z-index: 2;
    display: flex;
    height: 5.5rem;
    width: 100%;
    /* border-bottom: 2px solid rgb(0, 191, 255); */
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 0.95rem;
    background-color: var(--bg-color);


    .hamburger {
        border: none;
        cursor: pointer;
        /* display: none; */
        background-color: initial;
        position: relative;
        /* left: 1rem; */

    }

    .left-items {
        margin-right: auto;
        position: relative;
        left: 1.4rem;
        display: flex;
        list-style: none;
        /* gap: 1.563rem; */
        gap: clamp(1rem, 2vw, 2.563rem);
        align-items: center;

        li {
            display: inline-block;
            position: relative;
            transition: 500ms;

            a {
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 600;
                color: white;

            }

        }

    }

    .right-items {
        display: flex;
        display: none;
        position: relative;
        margin-left: auto;
        right: 2rem;
        /* gap: 1.55rem; */
        gap: 1vw;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            display: inline-block;
            position: relative;
        }

        .other {

            transition: 500ms;

            a {
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 600;
                /* color: black; */
                color: white;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background-color: var(--btn-color);
                    transition: width 0.3s ease-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }



        }

        .login-btn {
            border: none;
            height: 2.5rem;
            width: 6rem;
            background-color: initial;
            border: 2px solid #F7AD19;
            color: white;
            border-radius: 1.25rem;
            font-size: 1.25rem;
            font-weight: 600;
            transition: 500ms;
            cursor: pointer;

            /* box-shadow: 2px 1px 2px 1px #BAB68C; */
            &:hover {
                /* transform: scale(1.09); */
                background-color: #F7AD19;

                color: black;
            }
        }
    }
}

nav .left-items li ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--btn-color);
    transition: width 0.3s ease-out;
}

nav .left-items li :hover::after {
    width: 100%;
}

.filter-course-container {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5.5rem;

}

.filter-container {
    min-height: 100%;
    width: 18%;
    /* border: 2px solid lime; */
    border-radius: 0 10px 10px 0;
    position: static;
    top: 6rem;
    left: 0;
    padding: 1rem;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;

    .filter-checkbox {
        position: sticky;
        top: 2rem;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;
        gap: 2rem;

        .checkbox {
            flex-direction: column;
            display: flex;
            justify-content: center;
            /* align-items: center; */
            gap: 1rem;
            position: relative;

            a {
                text-decoration: none;
                font-size: 120%;
                font-weight: 500;
                color: black;
                width: 100%;
                height: fit-content;
                padding: 4px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 1rem;

                &:hover {
                    background-color: rgba(130, 130, 130, 0.1);
                }
            }

        }

    }

    .quote {
        width: 100%;
        height: fit-content;
        position: sticky;
        bottom: 0%;
        box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.3);
        padding: 0.7rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-wrap: balance;

        p {
            width: 80%;
            min-height: fit-content;
        }

    }
}

.course-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    position: relative;
    top: 93%;

}

.service-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    position: relative;
    width: 100%;
    height: 100%;
    /* max-width: 1000px; */
    flex-direction: column;
    gap: 2rem;
    /* padding: 1rem; */
    margin: 1rem 1rem;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 2rem;
}

.slider {
    width: 100%;
    height: fit-content;
    display: flex;
    transition: transform 0.5s ease;
    gap: 2rem;
    /* will-change: transform; */
}

.card {
    flex: 0 0 auto;
    /* min-width: calc(100% / 3); */
    width: 30%;
    /* Adjust based on visible cards */
    height: 350px;
    margin: 0 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    padding: 1.3rem;
    margin: 1rem 0;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    transition: 0.3s;

    img {
        height: 40%;
        width: 100%;
         
    }
    .know-more{
        height: 0%;
        width: 100%;
        position: relative;
        background-image:linear-gradient( rgba(0, 0, 0, 0.1) 80%, rgba( 0,0,0,0.4));
        z-index: -1;
        transition: 200ms;
        a{
            background-color: transparent;
            color: black;
        }
    }

    a {
        width: 60%;
        /* height: 1.4rem; */
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: var(--bg-color);
        border-radius: 10px;
        padding: 2px 4px;
        font-size: 110%;
        font-weight: 500;

        &:hover {
            opacity: 0.8;
        }
    }

    &:hover {
        transform: scale(1.04);
        .know-more{
            transform: translateY(-40%);
            height: 40%;
        }
    }
   
}

.slider-btn {
    background: var(--bg-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.slider-btn:hover {
    opacity: 0.6;
}

footer {

    /* display: none; */

    position: relative;
    /* bottom: 0%; */
    min-height: 50%;
    width: 100%;
    /* background-color: #053d1a; */
    background-image: url(../Assets/FooterWaves.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 99%;
    background-position: bottom;

    .footer-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        * {
            color: black;
        }

        .all-socials {
            margin: 1rem 0;
            display: flex;
            gap: 1rem;

            img {
                height: 2rem;
                width: 2rem;
            }
        }

        .section:first-child {
            height: 80;
            width: 50%;
        }

        .section {
            /* border: 2px solid white; */
            min-width: auto;
            height: 100%;

            h2 {
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.2;
            }

            ul {
                list-style: none;

                li a {
                    text-decoration: none;
                    font-size: 120%;
                }
            }

            .center {
                position: relative;
                inset: 0;
                width: fit-content;

                span {
                    font-family: "Satisfy", cursive;
                    color: transparent;
                    background-clip: text;
                }

            }
        }

    }
}



@media (max-width: 768px) {
    .card {
        min-width: calc(100% / 2);
        /* Show 2 cards on smaller screens */

    }

    .post {
        min-width: calc(100% / 2);
        /* Show 2 cards on smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        min-width: 100%;
    }

    .post {
        min-width: 100%;
        /* Show 1 card on very small screens */
    }
}